*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
docs/_site

# Scala-IDE specific
.scala_dependencies
.worksheet

# Sublime
*.sublime-project
*.sublime-workspace

# VSCode
/.vscode/

# Metals
/.bsp/
/project/**/metals.sbt

# emacs
TAGS
